DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,testserver
DB_ENGINE=sqlite
# DB_ENGINE=postgresql
# DB_NAME=abatgus
# DB_USER=postgres
# DB_PASSWORD=senha
# DB_HOST=localhost
# DB_PORT=5432
ABATGUS_MASTER_USERNAME=danielguspedev
ABATGUS_MASTER_PASSWORD=Dnov@0380
